<section class="pb-16">
  {{> sectionHeading title="Education" }}

  <div class="grid grid-cols-1 sm:grid-cols-section-item print:grid-cols-section-item  gap-4 sm:gap-8 print:gap-8">
    {{#each education}}
      <div>
        <span class="text-xl uppercase font-normal block">{{this.institution}}</span>
        <span class="text-f-blue font-normal block uppercase">{{this.startDate}} - {{this.endDate}}</span>
        <span class="block">{{this.location}}</span>
      </div>

      <div class="space-y-4">
        <p class="font-normal">{{this.studyType}}, {{this.area}}</p>
        
        <div class="grid grid-cols-section-item gap-y-4 gap-x-8">
          <span class="font-normal">Relevant Courses</span>
          <ul class="list-disc">
            {{#each this.courses}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    {{/each}}
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-section-item print:grid-cols-section-item gap-4 sm:gap-8 print:gap-8 mt-8">
    <span class="text-xl font-normal uppercase">Conferences</span>
    <ul class="list-disc">
      {{#each conferences}}
        <li>{{this.name}} ({{this.date}})</li>
      {{/each}}
    </ul>
  </div>
</section>
