<section class="pb-4">
  {{> sectionHeading title="Education" }}

  <div class="space-y-4">
    {{#each education}}
      <div class="flex justify-between">
        <div>
          <span class="text-xl font-normal">{{this.institution}}</span>
          <br/>
          <p class="text-f-blue font-normal">{{this.studyType}}, {{this.area}}</p>
        </div>

        <div class="text-right">
          <span class="font-normal">{{this.startDate}} - {{this.endDate}}</span>
          <br/>
          <span>{{this.location}}</span>
        </div>
      </div>
    {{/each}}
  </div>
</section>
