<section class="pb-16">
  <div
    id="section-runner"
    class="absolute -z-10 h-1 left-0 w-full bg-f-blue"
    >
  </div>

  <h2 class="
    relative
    -top-5
    -left-4
    text-white
    bg-f-blue
    inline-block
    px-4
    py-2
    text-lg
    w-auto
    uppercase
    font-bold
    font-title
  ">
    Education
  </h2>

  <div class="grid grid-cols-[25%_minmax(0,_1fr)] gap-y-8 gap-x-8">
    {{#each education}}
      <div>
        <p>{{this.institution}}</p>
        <p>{{this.startDate}} - {{this.endDate}}</p>
        <p>{{this.location}}</p>
      </div>

      <div>
        <p>{{this.studyType}}, {{this.area}}</p>
        
        <div class="grid grid-cols-[25%_minmax(0,_1fr)] gap-y-8 gap-x-8">
          <span>Relevant Courses</span>
          <ul>
            {{#each this.courses}}
              <li>{{this}}</li>
            {{/each}}
          </ul>

          <span>Extracurricular Activities</span>
          <ul>
            {{#each this.activities}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    {{/each}}
  </div>

  <div class="grid grid-cols-[25%_minmax(0,_1fr)] gap-y-8 gap-x-8">
    <span>Conferences</span>
    <ul>
      {{#each conferences}}
        <li>{{this.name}} ({{this.date}})</li>
      {{/each}}
    </ul>
  </div>
</section>
