<section class="space-y-2">
  {{> sectionHeading title="Skills & Interests" }}

    <div class="grid grid-cols-1 sm:grid-cols-4 print:grid-cols-4">
      {{#if skills}}
        <span class="basis-64 font-normal text-xl">Skills</span>
        <p class="col-span-3 mb-2">{{listify skills}}</p>
      {{/if}}

      {{#if techStack}}
        <span class="basis-64 font-normal text-xl">Tech Stack</span>
        <p class="col-span-3 mb-2">{{listify techStack}}</p>
      {{/if}}

      {{#if interests}}
        <span class="basis-64 font-normal text-xl">Interests</span>
        <p class="col-span-3 mb-2">{{listify interests}}</p>
      {{/if}}

      {{#if languages}}
        <span class="basis-64 font-normal text-xl">Languages</span>
        <p class="col-span-3 mb-2">
          {{listifyLanguages languages}}
        </p>
      {{/if}}
    </div>
</section>
