<section class="space-y-2">
  {{> sectionHeading title="Skills & Interests" }}

  <div class="grid grid-cols-1 sm:grid-cols-section-item print:grid-cols-section-item sm:gap-8 print:gap-8">
    <span class="font-normal text-xl">Languages</span>

    <div class="flex items-center gap-x-8 gap-y-4">
      {{#each languages}}
        <span><span class="font-normal">{{this.language}}</span> ({{this.fluency}})</span>
      {{/each}}
    </div>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-section-item print:grid-cols-section-item sm:gap-8 print:gap-8">
    <span class="font-normal text-xl">Conferences</span>
    <ul class="list-disc list-inside sm:list-outside">
      {{#each conferences}}
        <li>{{this.name}} ({{this.date}})</li>
      {{/each}}
    </ul>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-section-item print:grid-cols-section-item sm:gap-8 print:gap-8">
    <span class="font-normal text-xl">Interests</span>
    <ul class="list-disc list-inside sm:list-outside">
      {{#each interests}}
        <li>{{this.name}}</li>
      {{/each}}
    </ul>
  </div>
</section>
