<section class="pb-4">
  {{> sectionHeading title="Work Experience" }}

  <div class="space-y-4">
    {{#each work}}
      <div>
        <div class="flex items-end justify-between gap-x-4">
          <span class="text-xl font-normal leading-none">{{this.name}}</span>
          <span class="font-medium">{{this.startDate}} - {{this.endDate}}</span>
        </div>

        <div class="flex justify-between">
          <span class="text-lg text-f-blue font-normal">{{this.position}}</span>
          <span>{{this.location}}</span>
        </div>

        <ul class="list-disc list-inside">
          {{#each this.highlights}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </div>
</section>
