<section class="pb-16">
  {{> sectionHeading title="Work Experience" }}

  <div class="space-y-8">
    {{#each work}}
      <div class="grid grid-cols-section-item gap-8 break-inside-avoid">
        <div class="space-y-2">
          <div>
            <span class="text-xl uppercase font-title font-normal block">{{this.position}}</span>
            <span class="text-f-blue block uppercase">{{this.startDate}} - {{this.endDate}}</span>
            <span class="font-medium block">{{this.name}}</span>
            <span class="block">{{this.location}}</span>
          </div>

          <div>
          </div>
        </div>

        <ul class="list-disc">
          {{#each this.highlights}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
    {{/each}}

    <p class="text-f-blue italic w-64 mx-auto">Full experience available on LinkedIn</p>
  </div>
</section>
