<section>
  <div
    id="section-runner"
    class="absolute -z-10 h-1 left-0 w-full bg-f-blue"
    >
  </div>

  <h2 class="
    relative
    -top-5
    -left-4
    text-white
    bg-f-blue
    inline-block
    px-4
    py-2
    text-lg
    w-auto
    uppercase
    font-bold
    font-title
  ">
    Work Experience
  </h2>

  <div class="grid grid-cols-[25%_minmax(0,_1fr)] gap-y-16 gap-x-8">
    {{#each work}}
      <div>
        <p>{{this.position}}</p>
        <p>{{this.startDate}} - {{this.endDate}}</p>
        <a href="{{this.url}}" target="_blank" rel="noreferrer noopener" class="underline text-f-blue">
          {{this.name}}
        </a>
        <p>{{this.location}}</p>
      </div>

      <ul>
        {{#each this.highlights}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    {{/each}}
  </div>
</section>
