/* @import '~@fortawesome/fontawesome-free/scss/fontawesome'; */
/* @import '~@fortawesome/fontawesome-free/scss/regular'; */
/* @import '~@fortawesome/fontawesome-free/scss/solid'; */
/* @import '~@fortawesome/fontawesome-free/scss/brands'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Signika Negative';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url('/SignikaNegative-VariableFont_wght.ttf') format('truetype-variations');
}

@font-face {
  font-family: 'Unna';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/Unna-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Unna';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/Unna-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Unna';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/Unna-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Unna';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/Unna-BoldItalic.ttf) format('truetype');
}
