/* @import '~@fortawesome/fontawesome-free/scss/fontawesome'; */
/* @import '~@fortawesome/fontawesome-free/scss/regular'; */
/* @import '~@fortawesome/fontawesome-free/scss/solid'; */
/* @import '~@fortawesome/fontawesome-free/scss/brands'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Signika Negative';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  src: url('/SignikaNegative-VariableFont_wght.ttf') format('truetype-variations');
}

@font-face {
  font-family: 'Sansita Swashed';
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
  src: url('/SansitaSwashed-VariableFont_wght.ttf') format('truetype-variations');
}
